body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: #1f2933;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h3 {
  border-bottom: 2px solid #1f2933;
  padding-bottom: 5px;
}

.project {
  background: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

footer {
  background: #1f2933;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

a {
  color: #1f2933;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  margin-top: 10px;
  border-radius: 5px;
}
.img-proyecto {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}
.proyecto:hover .img-proyecto {
  transform: scale(1.03);
}

